* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "Cardo", serif;
  color: #1f1a11;
}

footer {
  font-family: "Raleway", sans-serif;
}

#logo {
  max-width: 200px;
  position: absolute;
  display: inline;
  top: 1vh;
  left: 1vw;
  z-index: 2;
}

header {
  height: 220px;
  width: 100vw;
  background-color: #1f1a11;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
header #greg-transparent {
  width: calc(40% - 7px);
  float: left;
  margin-left: 5px;
  height: 180px;
  display: block;
}
header #greg-transparent img {
  height: 100%;
  width: calc($mobile-header-element-height / 1.62304688);
  display: block;
  margin: 0 auto;
}
header .character-name {
  width: calc(60% - 8px);
  float: left;
  margin-left: 5px;
  position: relative;
  display: block;
  height: 180px;
  color: #6f6938;
  letter-spacing: .3em;
}
header .character-name h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
  text-align: right;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  header {
    overflow: auto;
  }
  header #greg-transparent, header .character-name {
    width: calc(33.33333% - 40px);
    float: left;
    margin-left: 30px;
    left: calc(33.33333% - 40px + 30px);
    position: relative;
  }
  header .character-name {
    height: 180px;
    overflow: auto;
  }
  header .character-name h1 {
    text-align: center;
    font-size: 5em;
  }
}

#greg-transparent {
  height: 180px;
  width: auto;
}

main {
  height: 100%;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  background-image: url("../img/bg/bg-walk-away-600.png");
  background-size: cover;
  margin-top: -17px;
}

.mobile-hidden {
  display: none;
}

section.mobile-section, section.mobile-section:nth-of-type(even) {
  margin: 20px 10px 10px 10px;
  padding: 15px 10px;
  background-color: rgba(250, 242, 185, 0.5);
  border-radius: 5px;
  overflow: auto;
}
section.mobile-section h2, section.mobile-section:nth-of-type(even) h2 {
  text-transform: uppercase;
  padding: 5px;
}
section.mobile-section img, section.mobile-section:nth-of-type(even) img {
  float: left;
  margin-right: 5px;
  width: 50vw;
}
section.mobile-section img.mobile-full-width {
  width: 100%;
  margin-left: auto;
}
section.mobile-section p span, section.mobile-section:nth-of-type(even) p span {
  text-transform: uppercase;
  font-size: 1.1em;
}
section.mobile-section a, section.mobile-section:nth-of-type(even) a {
  color: #11100b;
}
section.mobile-section a:hover, section.mobile-section a:focus {
  font-size: 1.1em;
}

section.mobile-section:nth-of-type(even) img {
  float: right;
  margin-left: 5px;
}

ul {
  margin-top: 10px;
  padding-left: 50px;
  list-style-position: outside;
}
ul#rock-facts {
  list-style: url("../img/rock-fact-25px.png");
}
ul ul {
  margin-top: 0;
  padding-left: 15px;
}

@media only screen and (min-width: 600px) {
  main {
    background-image: url("../img/bg/bg-walk-away-1000.png");
  }
  main section.mobile-section, main section.mobile-section:nth-of-type(even) {
    margin: 0;
    margin-top: 10px;
    width: calc(33.33333% - 16px);
    float: left;
    margin-left: 12px;
  }
  main section.mobile-section img, main section.mobile-section:nth-of-type(even) img {
    width: 100%;
  }
  main section.mobile-section:nth-of-type(n+4) {
    width: calc(100% - 24px);
    float: left;
    margin-left: 12px;
  }
  main section.mobile-section:nth-of-type(n+4) img {
    width: calc(33.33333% - 16px);
    float: left;
    margin-left: 12px;
  }
  main section.mobile-section:nth-of-type(n+4) .text {
    width: calc(66.66667% - 20px);
    float: left;
    margin-left: 12px;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    background-image: url("../img/bg/bg-walk-away-full.png");
  }
  main .section-container {
    max-width: 1000px;
    margin: auto;
  }
  main section.mobile-section, main section.mobile-section:nth-of-type(even) {
    margin: 0;
    margin-top: 20px;
    width: calc(33.33333% - 40px);
    float: left;
    margin-left: 30px;
  }
  main section.mobile-section img, main section.mobile-section:nth-of-type(even) img {
    width: 100%;
  }
  main section.mobile-section:nth-of-type(-n+3) {
    height: 800px;
  }
  main section.mobile-section:nth-of-type(n+4) {
    width: calc(50% - 45px);
    float: left;
    margin-left: 30px;
  }
  main section.mobile-section:nth-of-type(n+4) img {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

footer {
  background-color: #6f6938;
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
