header * {
  border: 1px dashed red;
}

header {
  height: 220px;
  width: 100vw;
  background-color: $eternity;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  // $onyx: #11100b;
  // $eternity: #1f1a11;
  // $driftwood: #b08850;
  // $tobacco-brown: #6b5c3d;
  // $yellow-metal: #6f6938;
  // $space-shuttle
  // @include grid-media($header-grid);

  // #logo img {
    // @include grid-column(3, $header-grid);
    // max-height: $mobile-header-element-height;
    // height: auto;
    // position: absolute;
    // top: 100px;
    // left: 0px;
    // width: auto;
  // }
  #greg-transparent {
    @include grid-column(2, $header-grid);
    height: $mobile-header-element-height;
    display: block;
  }

  #greg-transparent img {
    height: 100%;
    width: $greg-transparent-width;
    display: block;
    margin: 0 auto;
  }

  .character-name {
    @include grid-column(3, $header-grid);
    position: relative;
    display: block;
    height: $mobile-header-element-height;
    color: $yellow-metal;
    letter-spacing: .3em;
  }

  .character-name h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: $mobile-character-name-height;
    text-align: right;
    width: 100%;
  }


  //header grid for LAPTOP (despite the grid's variable name)
  // @include grid-media($tablet-grid) {
  //
  // }


}


#greg-transparent {
  height: $mobile-header-element-height;
  width: auto;
}
