header {
  height: 220px;
  width: 100vw;
  background-color: $eternity;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  #greg-transparent {
    @include grid-column(2, $header-grid);
    height: $mobile-header-element-height;
    display: block;
  }

  #greg-transparent img {
    height: 100%;
    width: $greg-transparent-width;
    display: block;
    margin: 0 auto;
  }

  .character-name {
    @include grid-column(3, $header-grid);
    position: relative;
    display: block;
    height: $mobile-header-element-height;
    color: $yellow-metal;
    letter-spacing: .3em;
  }

  .character-name h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: $mobile-character-name-height;
    text-align: right;
    width: 100%;
  }
}

// header grid for LAPTOP
header {
  @include grid-media($laptop-grid) {
    overflow: auto;
    %laptop-header-element {
      @include grid-column(2, $laptop-grid);
      @include grid-shift(2);
    }
    #greg-transparent {
      @extend %laptop-header-element;
    }
    .character-name {
      height: 180px;
      overflow: auto;
      @extend %laptop-header-element;
      & h1 {
        text-align: center;
        font-size: 5em;
      }
    }
  }
}

#greg-transparent {
  height: $mobile-header-element-height;
  width: auto;
}
