// colors
$blond: #faf2b9;
$onyx: #11100b;
$eternity: #1f1a11;
$driftwood: #b08850;
$tobacco-brown: #6b5c3d;
$yellow-metal: #6f6938;
$space-shuttle: #50443c;

//font(s)
$main-font: 'Cardo', serif;
$secondary-font: 'Raleway', sans-serif;

// sizes & distances
$mobile-header-element-height: 180px;
$greg-transparent-width: calc($mobile-header-element-height / 1.62304688);
$grid-gutter-default: 20px;
$grid-gutter-lg: 30px;
$mobile-character-name-height: 50px;
$section-x-padding: 10px;
